:root {
    --primary-color: #284572;
    --text-color: white;
    --box-shadow-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #d4d0d0;
}

/* Header */
header {
    background-color: var(--primary-color);
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px var(--box-shadow-color);
    color: var(--text-color);
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.footer {
    background-color: #284572;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 35px;
    font-size: 20px;
    width: 100%;
    margin-top: 2rem;
}



.container {
    background-color: rgba(230, 222, 222, 0.637);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 4px #333;
    line-height: 1.75rem;
    margin: auto;
}

.required {
    color: 284572;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #284572;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #1b3153;
}

textarea {
    height: 150px;
    resize: vertical;
}
#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: var(--text-color);
    position: absolute;
    top: 1rem;
    right: 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

/* Navigation Links */
.navLinks {
    display: none;
    flex-direction: column;
    list-style: none;
    color: var(--text-color);
    font-size: 1rem;
}

.navLinks.open {
    display: flex;
}

.navLinks a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.open a {
    display: block;
}
