@media screen and (min-width: 700px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navLinks {
        display: flex;
        list-style: none;
        color: var(--text-color);
        flex-direction: row;
    }

    .navLinks li {
        margin-right: 10px;
    }

    .navLinks a {
        color: var(--text-color);
        text-align: center;
        padding: 0.5rem 1rem;
        text-decoration: none;
        font-size: 1.5em;
    }

    .navLinks a:hover {
        text-decoration: underline;
    }

    main {
        padding: 1rem;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }
    
    #menu {
        display: none;
    }

    footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
    }
}