:root {
    --primary-color: #284572;
    --text-color: white;
    --box-shadow-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    position: relative;
    background-color: #d4d0d0;
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px var(--box-shadow-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

/* Main Content */
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 20vh;
}

.card {
    border: 3px solid var(--primary-color);
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: rgb(233, 233, 233);
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
}

.card-content {
    padding: 1rem;
}

.card img {
    width: calc(100% - 2rem);
    height: auto;
    display: block;
    margin: 1rem;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    max-width: 100%;
    border: 2px solid black;
}

.card:hover {
    transform: scale(1.1);
}

figcaption {
    color: #000;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    font-family: 'Roboto', sans-serif;
}

figcaption h3 {
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    line-height: 35px;
    font-size: 20px;
    width: 100%;
}


/* Headings */
h2 {
    padding: 1rem;
    font-size: 2rem;
}

/* Menu Button */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

/* Navigation Links */
.navLinks {
    display: none;
    flex-direction: column;
    list-style: none;
    color: var(--text-color);
    font-size: 1rem;
}

.navLinks.open {
    display: flex;
}

.navLinks a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.open a {
    display: block;
}

/* Responsive Design */
