@media screen and (min-width: 700px) {
    #menu {
        display:none;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .navLinks {
        display: flex;
        list-style: none;
        color: #fff;
        flex-direction: row;
    }
    .navLinks li {
        margin-right: 10px;
    }
    
    .navLinks a {
        color: #fff;
        text-align: center;
        padding: 0.5rem 1rem;
        text-decoration: none;
        font-size: 1.5em;
    }
    .navLinks a:hover {
        text-decoration: underline;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #211eadde;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px #333;
    }
    .grid-container1 {
        display: grid;
        gap: 1rem;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .item {
        background-color: #211eadde;
        color: white;
        padding: 20px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px #333;

    }
    .grid-container2 {
        display: grid;
        gap: 1rem;
        padding: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    main {
        height: 80vh;
    }
      
    
}