:root {
    --primary-color: #284572;
    --text-color: white;
    --box-shadow-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #d4d0d0;
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px var(--box-shadow-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: var(--text-color);
    position: absolute;
    top: 1rem;
    right: 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

/* Navigation Links */
.navLinks {
    display: none;
    flex-direction: column;
    list-style: none;
    color: var(--text-color);
    font-size: 1rem;
}

.navLinks.open {
    display: flex;
}

.navLinks a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.open a {
    display: block;
}

/* Main Content */
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    padding: 1rem;
    line-height: 2;

}

.content p {
    font-size: 1.3rem;
}


footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 35px;
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    
}