body{
    background-color: red;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "roboto", sans-serif;
}
h1 {
    text-align: center;
    grid-row: 1/2;
}
img {
    grid-row: 2/3;
}