* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin:0;
}

/* Header */
header {
    background-color: #380d5cde;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
    color: white;
}

/* Main Content */
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.temple-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* Footer */
footer {
    background-color: #380d5cde;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 35px;
    font-size: 20px;
}

/* Images */
figure img {
    width: 100%;
    height: auto;
}

/* Headings */
h2 {
    padding: 1rem;
    font-size: 2rem;
}

/* Menu Button */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

/* Navigation Links */
.navLinks {
	display: none;
	flex-direction: column;
	list-style: none;
	color: #fff;
    font-size: 1rem;
}
.navLinks.open {
    display:flex;
}

.navLinks a{
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.open a {
    display: block;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.card {
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: rgb(238, 238, 238);
    margin-bottom: 1rem;
}

.card-content {
    padding: 1rem;
}

.card img {
    width: calc(100% - 2rem); 
    height: auto;
    display: block;
    margin: 1rem;
    border-radius: 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.6); 
    max-width: 100%;
}
figcaption {
    color: #000;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    font-family: 'roboto', sans-serif;
}
@media only screen and (max-width: 600px) {
    .nav-links a {
      font-size: 1.2rem;
    }
  
    .nav-links li:last-child {
      padding-bottom: 1.3rem; 
    }
  }


  @media (max-width: 800px) and (max-width: 1024px){
    .nav-links a {
        font-size: 1.2rem;
      }
  }

  @media (max-width: 800px) and (max-width: 1024px){
    figcaption {
        font-size: 1.3rem;
      }
  }

  @media (max-width: 600px) {
    header {
        align-items: flex-start;
        padding: 10px;
    }

    h1.title {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .card {
        max-width: 320px;
        margin: 0 auto; 
    }
}
