@media screen and (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #380d5cde;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px #333;
    }
    main {
        padding: 1rem;
        max-width: 900px;
        margin: 0 auto;
        text-align: center; 
    }
}