@media screen and (min-width: 900px) {
    #content {
        grid-template-rows: auto 1fr auto;
    }

    main {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #hero {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
    }

    #data {
        left: 2%;
        top: 30%;
    }

    #weather {
        right: 2%;
        top: 80%;
    }

    .overlay {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        background-color: var(--overlay-bg-color);
        padding: 1rem;
        width: 19%;
        padding-top: 3rem;
    }

    .data_head {
        position: absolute;
        top: 0.5rem;
        left: -10px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding-right: 100px;
        text-align: left;
        padding-bottom: 10px;
        padding-left: 20px;
        box-shadow: 0 0 10px #333;
    }

    .weather_head {
        display:grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: -2rem;
        left: -1.5rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding-right: 60px;
        text-align: left;
        padding-bottom: 10px;
        padding-left: 20px;
        box-shadow: 0 0 10px #333;
    }

    .overlay ul {
        display: grid;
        grid-column: 1/4;
        grid-template-columns: 1fr 1fr;
        line-height: 2em;
        list-style-type: none;
        margin: 2rem;
        font-size: var(--overlay-font-size);
    }

    .overlay li {
        margin: 0 0.125em;
    }

    .overlay li:nth-child(odd) {
        grid-column-end: 2;
        font-weight: bold;
        text-align: right;
    }

    .overlay li:nth-child(even) {
        grid-column-start: 2;
        text-align: left;
    }

   
    .weather_head::after {
        content: url('images/sunny.svg');
        
         
        
    }
}
