* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    
    
    header {
        background-color:#2f50359c;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px #333;
        padding-bottom: 1rem;

    }
    
    h1 {
        background-color: #2f5035de;
        padding: 2rem;
        color:white;
        text-align: center;
        font-size: 4em;
    }
    
    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    footer {
        background-color: #2f5035de;
        color: white;
        text-align: center;
        padding: 1rem;
        line-height: 35px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px #333;
    }
}

body {
    font-family: "Open+Sans", sans-serif;
}