* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open+Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #2f50359c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
    padding-bottom: 1rem;
}

h1 {
    background-color: #2f5035;
    padding: 2rem;
    color: white;
    text-align: center;
    font-size: 3em;
}

#hero {
    flex: 1;
    position: relative;
}

#hero picture, 
#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem
}
.overlay ul {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    line-height: 2em;
    list-style-type: none;
    margin: 2rem;
    font-size: 1rem;
    
}

.overlay li {
    margin: 0 0.125em;
}

.overlay li:nth-child(odd) {
    grid-column-end: 2;
    font-weight: bold;
    text-align: right;
}

.overlay li:nth-child(even) {
    grid-column-start: 2;
    text-align: left;
}

.sunny-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;    
}
footer {
    background-color: #2f5035;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 35px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}
.icon {
    display:none;
}