* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Header */
header {
    background-color: #380d5cde;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
    color: white;
}

/* Main Content */
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.temple-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* Footer */
footer {
    background-color: #380d5cde;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 35px;
    font-size: 20px;
}

/* Images */
figure img {
    width: 100%;
    height: auto;
}

/* Headings */
h2 {
    padding: 1rem;
    font-size: 2rem;
}

/* Menu Button */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

/* Navigation Links */
.navLinks {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
    font-size: 1rem;
}

.navLinks a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.open a {
    display: block;
}